@media ( max-width: 1200px  )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 580px
  .image
    &-slider
      &__item
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__aditional
      min-width: 251px
    &__legal
      margin-left: 26px
@media ( max-width: 992px )
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 123px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      &__list
        padding-top: 22px
        padding-bottom: 22px
        width: 673px
        margin: auto
      &__link
        font-weight: 700
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 50px
    &-grid
      flex-direction: column
    &-info
      margin-bottom: 29px
    &__slider
      margin-bottom: 21px
    &-block
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    padding-top: 92px
  .reviews
    padding-top: 50px
    padding-bottom: 60px
    &-title
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 579px
        max-height: 299px
      &__button
        top: 51%
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
      &:nth-child(n+3)
        margin-bottom: 0
  .card
    width: 339px
    height: 255px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 47.5%
    &__logo
      grid-column: span 2
      grid-row: 1 / 2
      margin-bottom: 0
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-column: span 2
      grid-row: 2 / 3
      max-width: 162px
    &__aditional
      grid-column: span 3
      margin-left: 12px
    &__legal
      grid-column: 6 / 8
      margin: 0
      margin-left: 30px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 6
      &-form
        grid-row: 4
        grid-column: span 6
    &__bottom
      &-list
        grid-row: 5
        grid-column: 1 / 5
        align-self: flex-end
        margin-left: 0
    &__payment
      grid-column: 7
      grid-row: 5
      align-self: flex-end
      margin: 0
      width: 136px
  .modal
    &__dialog
      padding: 30px 60px
@media ( max-width: 800px )
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .footer
    &__logo
      height: 115px
      width: 100px
    &__title
      margin-top: 10px
      &-message
        margin-top: 0
    &__form
      max-width: 540px
  .modal
    &__dialog
      padding: 25px 40px
@media ( max-width: 767px )
  body
    padding-top: 78px
  .container
    max-width: 520px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 999
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin: auto
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &__visible
        display: block
        overflow: scroll
    &-menu
      &__list
        display: flex
        flex-direction: column
        padding: 0
        width: auto
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            width: 80%
  .search
    &__input
      width: 100%
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__avatar
      margin-bottom: 10px
    &__name
      &--light
        color: $light
        margin-left: 0
  .image
    &-slider
      &__slide
        height: 350px
  .hotel
    &-block
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 520px
      align-items: flex-start
    &-text
      margin-bottom: 5px
    &__title
      margin-bottom: 37px
  .subscribe
    max-width: 100%
  .reviews
    &-title
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
  .card
    width: 48%
    height: 255px
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
      &-links
        flex-wrap: wrap
    &__title
      margin-top: 0
      &--inline
        flex-wrap: wrap
        flex-basis: 60%
        margin-right: 0
    &__aditional
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      margin-left: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__bottom
      &-list
        grid-row: 8
        grid-column: 1
    &__payment
      grid-row: 9
      grid-column: 1
@media ( max-width: 730px )
  .modal
    &__dialog
      padding: 25px 25px
      width: 400px
@media( max-width: 576px )
  .container
    max-width: 400px
  .logo
    width: 99px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__stars
        margin-bottom: 10px
      &__name
        margin-right: 0
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-bottom: 10px
  .image
    &-slider
      &__slide
        height: 280px
  .newsletter
    &-wrapper
      max-width: 400px
  .reviews
    padding-bottom: 50px
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, 
        &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -120px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -120px
  .activities
    padding-top: 40px
    &-title
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 36px
  .card
    width: 47%
    height: 200px
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__input
      &-group
        flex-basis: 100%
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
      &-links
        flex-wrap: wrap
    &__title
      &--inline
        flex-wrap: wrap
        flex-basis: 100%
        margin-right: 0
    &__aditional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__bottom
      &-list
        grid-row: 8
        grid-column: 1
    &__payment
      grid-row: 9
      grid-column: 1
  .modal
    &__dialog
      width: 350px
      padding: 15px 30px
@media( max-width: 480px )
  .container
    max-width: 390px
  .image
    &-slider
      &__slide
        height: 240px
  .newsletter
    &-wrapper
      max-width: 390px
    &-title
      margin-bottom: 30px
@media( max-width: 400px )
  .container
    max-width: 300px
    width: 90%
  .image
    &-slider
      &__slide
        height: 180px
  .newsletter
    &-wrapper
      max-width: 300px
    &__subscribe
      width: 100%
  .hotel
    &-slider
      &__button
        &--prev
          left: 6px
          max-width: 12px
          max-height: 12px
          background-size: 6px        
        &--next
          right: 6px
          max-width: 12px
          max-height: 12px
          background-size: 6px
  .reviews
    &-title
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 42px
    &-slider
      &__item
        max-width: 281px
      &__button
        &--prev
          margin-left: -95px
        &--next
          margin-right: -95px
  .newsletter
    &-title
      margin-bottom: 37px
  .subscribe
    min-width: auto
  .card
    width: 100%
    height: 255px
    &:nth-child(n+2)
      margin-bottom: 28px
    &:last-child
      margin-bottom: 0
  .footer
    &__info
      order: 1  
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 2
    &__bottom
      &-list
        width: 100%
        &>li
          margin: 0
          margin-right: 10px
          &:last-child
            margin: 0
  .modal
    &__dialog
      width: 300px
    &__button
      order: 2
      width: 100%
    &__info
      order: 1
      margin-bottom: 15px
@media( max-width: 330px )
  .container
    max-width: 280px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
    &-menu
      &__item
        margin-bottom: 17px
        &--mobile
          margin-bottom: 39px
          width: 245px
  .breadcrumb
    &-list
      padding-top: 12px
      padding-bottom: 18px
  .hotel
    padding-bottom: 20px
    &-info
      margin-bottom: 20px
      &__stars
        margin-right: 10px
    &__slide
      margin-bottom: 20px
    &-block
      min-height: 445px
      justify-content: space-evenly 
    &-grid
      padding-top: 18px
    &__slider
      margin-bottom: 0px
  .map
    height: 173px
    &__item
      height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 280px
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
      &-text
        margin-bottom: 5px
  .reviews
    padding-top: 40px
    padding-bottom: 0
    &-title
      max-width: 245px
      margin-left: auto
      margin-right: auto
    &-slider
      &__item
        max-height: 483px 
      &__text
        text-align: left
      &__button
        top: 27px
        &--next
          margin-right: -88px
        &--prev
          margin-left: -88px
  .activities
    padding-bottom: 50px
    &__card
      &:nth-child(1)
        order: -3
      &:nth-child(3)
        order: -2
  .footer
    &-wrapper
      grid-row-gap: 0
    &__logo
      align-self: start
      margin-bottom: 40px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        display: flex
        flex-wrap: wrap
        margin-bottom: 30px
    &__legal
      margin-bottom: 30px
    &__aditional
      margin-bottom: 30px
    &__categories
      margin-bottom: 40px
    &__contact
      &-details
        margin-bottom: 40px
    &__title
      &--inline
        flex-wrap: wrap
        flex-basis: 100%
        margin-right: 0
        margin-bottom: 20px
      &-contact
        margin-bottom: 30px
      &-message
        margin-bottom: 15px
    &__message
      margin-bottom: 15px
    &__icon
      &-wrapper
        min-width: 30px
  .modal
    &__dialog
      padding: 10px
    
    